@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: white;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
}

body {
    width: 100vw;
    background-color: gray;
    background: url(https://github.com/M0rdek4y/Repositorio-de-midia/blob/master/media/images/gif/hacking.gif?raw=true) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/*---HEADER CONFIGURATIONS---*/

div#head {
    position: absolute;
    margin-left: 15px;
    padding-left: 45px;
    padding-top: 50px;
    width: 30vw;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.350);
}

div> p > img {
    width: 128px;
}

div .teste {
    display: inline-block;
}

main {
    position: relative;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    background-color: rgba(10, 10, 10, 0.479);
    padding: 10px;
    height: 100vh;
    width: 600px;
}

article #infome {
    position: absolute;
    display: inline-block;
    padding-top: 30px;
    padding-left: 30px;
}

/*---EXPERIENCIA PROFISSIONAL CONFIGURATIONS---*/

article#infome {
    position: static;
    height: 200px;
}

article#exp {
    margin-top: 70px;
    height: 200px;
}

article.tex > h2 {
    box-shadow: 0px 0px 4px 3px black;
    background-color: rgba(211, 211, 211, 0.350);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.705);
}

.tex > h3 {
    color: rgb(58, 120, 255);
}

.tex > h3, .tex > p  {
    font-size: 1.2em;
    padding-top: 20px;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.705);
}

/*---CARGO & FUNÇÃO---*/

p.cargo {
    font-size: 1.1em;
}

p.funcao {
    font-size: 1em;
}

/*---DATA CONFIGURATIONS*/

span.data {
    display: block;
    padding-top: 20px;
    text-align: right;
    font-size: small;
    color: lightgray;
}

/*---FOOTER CONFIGURATIONS---*/

footer {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    width: 90vw;
    padding: 10px;
    margin-bottom: 0px;
}

footer > p > a {
    text-decoration: none;
    color: white;
}

footer > p > a:hover {
    text-decoration: underline;
}