@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
}

#apre {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 50vw;
    background-color: rgba(255, 255, 255, 0.350);
}

div> p > img {
    width: 128px;
}

div .teste {
    display: inline-block;
}

body {
    background-color: gray;
    background: url(https://github.com/M0rdek4y/Repositorio-de-midia/blob/master/media/images/gif/hacking.gif?raw=true) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    max-height: 100%;
}

main {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    background-color: rgba(211, 211, 211, 0.350);
    padding: 10px;
}

main > h2 {
    box-shadow: 0px 0px 4px 3px black;
    background-color: rgba(82, 82, 82, 0.35);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

main > p {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.705);
    tex
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}
